body{
  width: 100%;
  height: 100%;
  position: relative;
}
.topNav{
  width: 100%;
  height: 2.2rem;
  background: url(../img/top_bg.jpg) ;
  background-size: 1.125rem 2.2rem;
  position: fixed;
  left: 0 ;
  top: 0;
  z-index: 10;
}
.topNav .top_search{
  width: 15.05rem;
  height: 1.3rem;
  margin-top: .45rem;
  margin-left: .475rem;
  display: flex;
  justify-content: space-between;
  display: none;
}
.topNav .top_search .search_content{
  float: left;
  background-color:rgba(0,0,0,.5);
  width: 13.25rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.topNav .top_search .search_img{
  width: 1.35rem;
  height: .85rem;
  margin-top: .2rem;
  border-right: 2px solid white;
  background: url(../img/searchNode_bg.png) no-repeat center/.8rem .8rem;
}
.topNav .top_search .top_ipt{
  width: 13.4rem;
  height: 100%;
  border: none;
  text-indent: .425rem;
  color: white;
  background-color: rgba(0,0,0,0);
}
.topNav .top_search  .text{
  width: 1.6rem;
  color: white;
  font-size: .65rem;
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  float: left;
}
.topNav .topNav_content{
  width: 15.25rem;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: .65rem;
}
.topNav .topNav_content .topNav-left {
  width: 7rem;
  height:1.7rem;
  margin-top: .25rem;
  display: flex;
}
.topNav .topNav_content .topNav-left .logo{
  width: 1.7rem;
  height: 1.7rem;
}
.topNav .topNav_content .topNav-left .logo img{
  width: 1.7rem;
  height: 1.7rem;
}
.topNav .topNav_content .topNav-left .text{
  height:100%;
  margin-left: .35rem;
}
.topNav .topNav_content .topNav-left .text h1{
  color: #ffffff;
  font-size: .625rem;
  height: .625rem;
  line-height: .625rem;
  margin-top: .225rem;
  margin-bottom: .125rem;
  font-weight: bold;
}
.topNav .topNav_content .topNav-left .text p{
  color: #ffffff;
font-size: .5rem;
height: .55rem;
line-height: .55rem;
}
.topNav  .topNav-right{
  width: 4.5rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: .45rem;
}
.topNav  .topNav-right .download{
  width: 3rem;
  height: 1.3rem;
}
.topNav  .topNav-right .download img{
  width: 3rem;
  height: 1.3rem;
}
.topNav  .topNav-right .search{
  width: .9rem;
  height: .95rem;
}
.topNav  .topNav-right .search img{
  width: .9rem;
  height: .95rem;
}
.banner_slider{
  width: 100%;
  height: 10.65rem;
  background: url(../img/banner.png) no-repeat;
  background-size: 16rem 10.65rem;
  position: relative;
  margin-top: 2.2rem;
}
.banner_slider>img{
  width: 1.6rem;
  height: 2.05rem;
position: absolute;
right: 2.55rem;
top: .55rem;;
}
.banner_slider a{
  width: 5.4rem;
  height: 1.8rem;
  position: absolute;
  bottom: -0.75rem;
  left: 50%;
  transform: translateX(-50%);
}
.banner_slider a>img{
  width: 100%;
  height: 100%;
}


/* 新闻资讯 */
.newsInformation{
  width: 100%;
  height: 29.45rem;
  background: url(../img/news_bg.png) no-repeat left 2.075rem;
  background-size: 16rem 1.15rem;
  display: flex;
}
.newsInformation .outNode{
  width: 100%;
  height: 23.1rem;
  margin-top: 3.9rem;
  overflow: hidden;
}
.newsInformation .outNode .swiper-wrapper{
  width: 100%;
  height: 100%;
}
.newsInformation .outNode .swiper-wrapper .swiper-slide{
  width: 100%;
  height: 100%;
}
.newsInformation .outNode .swiper-wrapper .swiper-slide ul{
  width: 15.1rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-content: space-between;
}

.newsInformation .outNode .swiper-wrapper .swiper-slide ul li{
  width: 7.15rem;
  height: 7.2rem;
  border: .1rem solid #cccccc ;
  overflow: hidden;
  position: relative;
}
.newsInformation .outNode .swiper-wrapper .swiper-slide ul li.new_tu  a{
  position: absolute;
  top: 0;
  left: 0;
  width: 7.15rem;
  height: 7.2rem;
}
.newsInformation .outNode .swiper-wrapper .swiper-slide ul li.new_tu img{
width: 100%;
}
.newsInformation .outNode .swiper-wrapper .swiper-slide ul li.new_tu .text{
  margin-top: .4rem;
  font-size: .575rem;
  height: .575rem;
  padding: 0 .35rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.newsInformation .outNode .swiper-wrapper .swiper-slide ul li.text h2{
  font-weight:bold;
  font-size:.575rem ;
  line-height: .7rem;
  padding-left: .75rem;
  margin-top: .6rem;
  margin-bottom: .4rem;
}
.newsInformation .outNode .swiper-wrapper .swiper-slide ul li.text .text-t{
  font-size: .575rem;
  line-height: .7rem;
  padding-left: .425rem;
  color: #666666;
  font-weight: bold;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.newsInformation .outNode .moreNode{
  width: 8rem;
  height: .55rem;
  font-size: .55rem;
  margin-top: .825rem;
  margin-right: .425rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: right;
}
.newsInformation .outNode .moreNode .page{
  width: 4.5rem;
  height: .55rem;
  line-height: .55rem;
  display: flex;
  justify-content: space-between;
}
.newsInformation .outNode .moreNode .line{
  width: .05rem;
  height: .4rem;
  background-color: #333333;
}
.newsInformation .outNode .moreNode .more_games{
   width: 1.25rem;
   padding-left:.575rem ;
   
   background: url(../img/more_bg.png) no-repeat left center;
   background-size: .5rem .5rem;
}
.newsInformation .outNode .moreNode .more_games a{
  width: 100%;
  height: 100%;font-size: .55rem;
  color: #333333;
}
.my-button-disabled{
  opacity: 0;
}

/* 阴阳师手帐account */
.account{
  width: 100%;
  height:8.1rem;
  background: url(../img/techo_bg.png) no-repeat left top;
  background-size: 16rem 2.45rem;
  display: flex;
}
.account .account_content{
  width: 100%;
  height: 3.525rem;
  margin-top: 2.825rem;
  overflow: hidden;
}
.account .account_content .swiper-wrapper .swiper-slide{
  width: 2.925rem;
  height: 3.525rem;
}
.account .account_content .swiper-wrapper .swiper-slide a{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  color: #000000;
}
.account .account_content .swiper-wrapper .swiper-slide a img{
  width: 2.925rem;
  height: 2.7rem;
}
.account .account_content .swiper-wrapper .swiper-slide a .text{
  width: 100%;
  font-size: .575rem;
  height: .575rem;
  line-height: .575rem;
  text-align: center;
}

/* 平安世界 */
.world{
  width: 100%;
  height: auto;
  padding-top:2.5rem ;
  background:url(../img/world_bg.png) no-repeat left top/16rem 1.825rem;
}
.world .world_tab{
  width: 15.1rem;
  height: 1.2rem;
  border: 4px solid #c2a161;
  margin: 0 auto;
  position: relative;
}
.world .world_tab .world_tab_list{
  width: 15rem;
  height: 1.1rem;
  margin: .05rem auto;
  display: flex;
  justify-content: space-between;
}
.world .world_tab .world_tab_list li {
  width: 5rem;
  font-size: .575rem;
  line-height: 1.1rem;
  height: 1.1rem;
  text-align: center;
}
.world .world_tab .world_tab_list li.active{
  color: white;
  background-color: #c2a161;
}
.world .world_tab .left_line{
  position: absolute;
  width: .075rem;
  height: .45rem;
  top: .35rem;
  left: 4.95rem;
  background-color: #c2a161;
}
.world .world_tab .right_line{
  position: absolute;
  width: .075rem;
  height: .45rem;
  top: .35rem;
  right: 5.1rem;
  background-color: #c2a161;
}
/* 式神录 */
.world .world_tab_user{
  width: 100%;
  height: auto;
  margin-top: .85rem;
}
.world .world_tab_user .world_tab_user_list{
  width: 14.85rem;
  height: .75rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.world .world_tab_user .world_tab_user_list li{
  width: 2.2rem;
  height: .7rem;
  font-size: .575rem;
  text-align: center;
  justify-content: center;
}
.world .world_tab_user .world_tab_user_list li.active{
  border-bottom: .05rem solid #c2a161;
  color: #c2a161;
  font-weight: bold;
}
/* 式神录全部选项 */
.world  .world_tab_user_all{
  width: 100%;
  height: 14.025rem;
  margin-top: .8rem;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-content: space-between;  align-content: center;
}

.world  .world_tab_user_all .world_tab_user_btn{
  margin: 0 .075rem;
  width: .45rem;
  height: .6rem;
  background: url(../img/btn_bg.png) no-repeat left top/.45rem .6rem;
}
.world  .world_tab_user_all .world_tab_user_btn_acitve{
  margin: 0 .075rem;
  width: .45rem;
  height: .6rem;
  background: url(../img/btn_active.png) no-repeat left top/.45rem .6rem;
}
.world  .world_tab_user_all .swiper-wrapper {
  height: 11.275rem;
  width: 100%;
}
.world  .world_tab_user_all  .swiper-pagination-allUser{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.world  .world_tab_user_all .swiper-wrapper .swiper-slide .world_tab_user_all-list{
  width: 14.85rem;
  height: 11.275rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.world  .world_tab_user_all .swiper-wrapper .swiper-slide .world_tab_user_all-list li{
  width: 2.55rem;
  height: 3.475rem;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.world  .world_tab_user_all .swiper-wrapper .swiper-slide .world_tab_user_all-list li img{
  width: 2.55rem;
  height: 2.6rem;
}
.world  .world_tab_user_all .swiper-wrapper .swiper-slide .world_tab_user_all-list li .world_tab_user_all-list_text{
  font-size: .575rem;
  height: .575rem;
  line-height: .575rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

/* 主角录 */
.world .protagonist{
  width: 100%;
  height: 20.9rem;
  margin-top: .85rem;
}

.world .protagonist .protagonist_list{
  width: 15.15rem;
  height: .725rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.world .protagonist .protagonist_list li{
  height: 100%;
  padding:0 .75rem;
  position: relative;
  font-size: .575rem;
  height: .7rem;
  line-height: .7rem;
}
.world .protagonist .protagonist_list li::after{
  content: "";
  width: .05rem;
  height: .5rem;
  background: #c2a161;
  position: absolute;
  right: 0;
}
.world .protagonist .protagonist_list li:nth-child(1)::before{
  content: "";
  width: .05rem;
  height: .5rem;
  background: #c2a161;
  position: absolute;
  left: 0;
}
.world .protagonist .protagonist_list li .line{
  width: 1.3rem;
  height: .05rem;
  background-color: #c9a362;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.1rem;
  margin: 0 auto;
  display: none;
}
.world .protagonist .protagonist_list li.active .line{
  display: block; 
}
.world .protagonist .protagonist_list li:nth-child(3) .line{
  width: 1.625rem;
}
.world .protagonist .protagonist_list li:nth-child(4) .line{
  width: 2rem;
}
/* 主角录图文栏 */
.world .protagonist  .protagonist_content{
  width: 100%;
  height: 20rem;
  background: url(../img/zj_bg_fe8a9a5.jpeg) no-repeat center/10rem 18.1rem;
  position: relative;
}
.world .protagonist  .protagonist_content .swiper-slide{
  text-align: center;
}
.world .protagonist  .protagonist_content .swiper-slide img{
  width: 13.875rem;
  margin-left: 1.75rem;
}
.world .protagonist  .protagonist_content .swiper-slide img.img_three{
  margin: 0;
}
.world .protagonist  .protagonist_content .swiper-slide img.img_four{
  margin-left: 2.125rem;
}
/* 左右按钮 */
.world .protagonist  .protagonist_content  .protagonist-button-next{
  width: 2rem;
  height: 2.05rem;
  border: .05rem solid #c0a361 ;
  position: absolute;
  right: 2.1rem;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/i_next_b86e2fa.png) no-repeat center/1.55rem .4rem;
  background-color: white;
  z-index: 10;
}
.world .protagonist  .protagonist_content  .protagonist-button-prev{
  width: 2rem;
  height: 2.05rem;
  border: .05rem solid #c0a361 ;
  position: absolute;
  left: 2.1rem;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/i_prev_fa15320.png) no-repeat center/1.55rem .4rem;
  background-color: white;
  z-index: 10;
}

/* 左右文字 */
.world .protagonist  .protagonist_content .text_left{
  position: absolute;
  left: .45rem;
  top: 3.45rem;
  border: .05rem solid #c0a361;
  width: 2.05rem;
  height: 10.8rem;
  background: url(../img/i_zj_hua_1140ac0.png) no-repeat left bottom/2.5rem 1.625rem;
  font-size: .65rem;
  z-index: 9;
  background-color: white;
}
.world .protagonist  .protagonist_content .text_left p{
  width: .75rem;
  margin-top: 2.1rem;
  line-height: .7rem;
  margin-left: .65rem;
  color: #c6a15d;
}
.world .protagonist  .protagonist_content .text_left .line{
  width: .05rem;
  height: 1.85rem;
  background-color: #c6a15d;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -0.3rem;
}
.world .protagonist  .protagonist_content .text_right{
  position: absolute;
  right: .45rem;
  top: 3.45rem;
  border: .05rem solid #c0a361;
  width: 2.05rem;
  height: 10.8rem;
  background: url(../img/i_zj_hua_1140ac0.png) no-repeat left bottom/2.5rem 1.625rem;
  font-size: .65rem;
  background-color: white;
  z-index: 9;
}
.world .protagonist  .protagonist_content .text_right p{
  width: .75rem;
  margin-top: 2.1rem;
  line-height: .7rem;
  margin-left: .65rem;
  color: #c6a15d;
}
.world .protagonist  .protagonist_content .text_right .line{
  width: .05rem;
  height: 1.85rem;
  background-color: #c6a15d;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -0.3rem;
}
/* 了解更多 */
.world .protagonist  .protagonist_content   .more_gd{
  margin-top: .25rem;
  position: absolute;
  bottom: 0;
  right: 3.05rem;
  width: 2.4rem;
  height: .7rem;
  font-size: .55rem;
  line-height: .7rem;
  color:#be9c6e ;
  padding-left: 1.775rem;
  background: url(../img/more_gd.png) no-repeat left .05rem/1.4rem .65rem;
}

/* 声优阵 */
.world .voice{
  width: 100%;
  height: 25.3rem ;
  background: url(../img/sy_bg_f331be0.jpeg) no-repeat .45rem 5.75rem/15.1rem 19.55rem;
  margin-top: .85rem;
}
.world .voice .voice_list{
  width: 13.4rem;
  height: 24.05rem;
  background-color: #fffcf7;
  margin-left: .85rem;
  border: .05rem solid #ecdbbd;
  padding: .4rem;
}
.world .voice .voice_list li{
  width: 3rem;
  float: left;
  font-size: .575rem;
  height: .8rem;
  line-height: .8rem;
  margin-right: .4rem;
}
.voice .voice_list li:nth-of-type(4n){
  margin-right: 0;
}
.world .world_tab_page{
  display: none;
}
.world .world_tab_page.active{
  display: block;
}

/* 游戏攻略 */
.games_help{
  margin-top: .75rem;
  width: 100%;
  height: 18.125rem;
  background: url(../img/game_node_bg.png) no-repeat left top/16rem 1.825rem;
  position: relative;
  float: left;
}
.games_help .games_help_bg{
  width: 100%;
  height: 4.5rem;
  margin-top: 4rem;
}
.games_help .games_help_bg img{
  width: 100%;
  height: 100%;
}
.games_help .games_title{
  position: absolute;
  top: 2.6rem;
  left: .45rem;
  width: 15.1rem;
  height: 3.4rem;
}
.games_help .games_title .games_img_text{
  float: left;
  width: 4.75rem;
  height: 100%;
  margin-right: .4rem;
}
.games_help .games_title .games_img_text.three{
  margin: 0;
}
.games_help .games_title .games_img_text img{
  float: left;
  width: 100%;
}
.games_help .games_title .games_img_text .text{
  float: left;
  width: 100%;
  height: .75rem;
  background-color: #fff;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  color: #666666;
  font-size: .575rem;
  line-height: .75rem;
}
.games_help  .games_help_list{
  width: 15rem;
  height: 1.4rem;
 position: absolute;
 top: 7.125rem;
 left: .475rem;
}
.games_help  .games_help_list li{
  color: white;
  font-size: .575rem;
  line-height: 1.4rem;
  height: 100%;
  text-align: center;
  width: 2.95rem;
  position: relative;
  float: left;
}
.games_help  .games_help_list li span{
  width: 100%;
  float: left;
}
.games_help  .games_help_list li::after{
  content: "";
  width: .05rem ;
  height: .3rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.games_help  .games_help_list li.active{
  background-color: #fff;
  color: #74bd95;
}
.games_help  .games_help_list li .line{
  width: 2.05rem;
  height: .1rem;
  background: url(../img/i_on_32ec342.png) no-repeat center/2.05rem .1rem ;
  margin-top: 1rem;
  margin-left: .5rem;
  display: none;
}
.games_help  .games_help_list li.active .line{
  display: block;
}
.games_help  .games_help_list li:last-child::after{
content: "";
width: 0;
height: 0;
}
.games_help  .games_play_text{
  width: 15.1rem;
  margin: 0 auto;
  height: 9rem;
  border: 2px solid #74bd95;
  border-top: none;
  overflow: hidden;
}

.games_help  .games_play_text .games_play_text_list{
  margin: 1.05rem 0 0 .325rem;
   width: 100%;
   height: 8rem;
}
.games_help  .games_play_text .games_play_text_list li{
  width: 14.25rem;
  height: 1.6rem;
  margin-bottom: .8rem;
  float: left;
}
.games_help  .games_play_text .games_play_text_list li a{
  width: 14.25rem;
  height: 1.6rem;
}
.games_help  .games_play_text .games_play_text_list li a .title{
  color: #000000;
  font-size: .575rem;
  height: .65rem;
  line-height: .65rem;
  text-indent: .325rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.games_help  .games_play_text .games_play_text_list li a .pepole{
  font-size: .575rem;
  color: #cccccc;
  height: .575rem;
  line-height: .575rem;
  margin-top: .25rem;
}
.games_play_text_list.active{
  display: block;
}

/* 同人手帐 */
.tongren{
  width: 100%;
  height: 38.55rem;
  background: url(../img/hua_bg2_428e6af.jpeg) no-repeat left 4.6rem/16rem 15.15rem;
  float: left;
}
.tongren .tongren_bg{
  margin-top: .5rem;
  width: 100%;
  height: 1.825rem;
}
.tongren .tongren_bg img{
  width: 100%;
}
.tongren  .hot_activity{
  width: 15.1rem;
  height: 7.475rem;
  position: relative;
  margin: 0 auto;
}
.tongren  .hot_activity h3{
  height: .65rem;
  font-size: .65rem;
  line-height: .65rem;
  margin-bottom: .425rem;
  color: #333;
  float: left;
}
.tongren  .hot_activity .hot_activity_img{
  width: 15.1rem;
  height: 6.4rem;
  margin: 0 auto;
  overflow: hidden;
}
.tongren  .hot_activity .hot_activity_img img{
  width: 100%;
}
.tongren  .hot_activity  .hot_activity_pagination{
 width: 2.85rem;
 height: .65rem;
 float: right;
 display: flex;
}
.hot_activity_btn{
  margin: 0 .05rem;
  width: .45rem;
  height: .6rem;
  background: url(../img/hot_move_bg.png) no-repeat left top/.45rem .6rem;
}
.hot_active_btn{
  margin: 0 .075rem;
  width: .45rem;
  height: .6rem;
  background: url(../img/btn_active.png) no-repeat left top/.45rem .6rem;
}

/* 热门作品 */
.tongren  .literature{
  width: 15.1rem;
  height: 12.625rem;
  margin: 0 auto;
  margin-top: 1.475rem;
overflow: hidden;
position: relative;
margin-bottom: 2.375rem;
}
.tongren  .literature h3{
  height: .65rem;
  line-height: .65rem;
  font-size: .65rem;
  color: #333333;
  margin-bottom: .425rem;
}
.tongren  .literature  .literature_slider{
  width: 100%;
  height: 9.95rem;
}
.tongren  .literature  .literature_slider .swiper-wrapper{
  width: 100%;
  height: 9.95rem;
}
.tongren  .literature  .literature_slider .literature_list{
  width: 15.1rem;
  height: 9.95rem;
}
.tongren  .literature .literature_list li{
  width: 4.65rem;
  height: 9.8rem;
  float: left;
  margin-right: .55rem;
}
.tongren  .literature .literature_list li:last-child{
  margin-right: 0;
}
.tongren  .literature .literature_list li img{
  width: 100%;
  border: .05rem solid #efefef;
}
.tongren  .literature .literature_list li .literature_text{
    width: 100%;
    height: 2.225rem;
    text-indent: .3rem;
    position: relative;
}
.tongren  .literature .literature_list li .literature_text .line{
  width: .1rem ;
  height: 1.2rem;
  position: absolute;
  left: 0;
  top: .075rem;
  background-color: #000;
}
.tongren  .literature .literature_list li .literature_text .literature_text_title{
  font-weight: bold;
  font-size: .575rem;
  height: .775rem;
  line-height: .775rem;
}
.tongren  .literature .literature_list li .literature_text .literature_text_name{
  height: .775rem;
  font-size: .575rem;
  line-height: .775rem;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.tongren  .literature .literature_list li .literature_text .literature_hotNum{
  height: .775rem;
  line-height: .775rem;
  font-size: .475rem;
  color: #666666;
  padding-left: .55rem;
  margin-left: .3rem;
  background: url(../img/fire.png) no-repeat left .225rem/.325rem .4rem;
}

.literature-button-next{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 3.75rem;
  margin-top: .65rem;
  width: 3.05rem;
  height: .75rem;
  border: .1rem solid #98d1dd;
  float: right;
  background: url(../img/i_next2_b0f7c57.png) no-repeat center/2.45rem .25rem;
}
.literature-button-prev{
  position: absolute;
  bottom: 0;
  margin-left: 3.75rem;
  margin-top: .65rem;
  width: 3.05rem;
  height: .75rem;
  border: .1rem solid #98d1dd;
  float: left;
  background: url(../img/i_prev2_db02372.png) no-repeat center/2.45rem .25rem;
}

/* 同人大触 */
.tongren  .blogger{
  height: 12.25rem;
  width: 15.1rem;
  margin: 0 auto;
  background: url(../img/hua_bg3_8971808.jpeg) no-repeat left 3.15rem/16.75rem  6.75rem;
}
.tongren  .blogger .blogger_title{
  height: .65rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tongren  .blogger .blogger_title h3{
  font-size: .625rem;
  height: .65rem;
  line-height: .65rem;
  color: #333333;
}
.tongren  .blogger .blogger_title .line{
  width: .1rem;
  height: .5rem;
  background-color: #cccccc;
  margin:0 .575rem
}
.tongren  .blogger .blogger_title a{
  margin-top: 2px;
  color: #7fc4d2;
  font-size: .575rem;
  padding-left: .85rem;
}
.tongren  .blogger .blogger_title a.wb_text{
  background: url(../img/i_yrz_454ebf0.png) no-repeat .3rem .05rem/.525rem .425rem;
}
.tongren  .blogger .blogger_title a.magazine{
  background: url(../img/yrz_e_e801559.png) no-repeat .3rem .05rem/.525rem .525rem;
  
}


.tongren  .blogger_bottom{
  width: 15.1rem;
  height: 8.95rem;
  margin-top: 1.6rem;
  overflow: hidden;
  position: relative;
}
.tongren  .blogger_bottom .blogger_bottom_list{
  width: 100%;
  height: 7.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding-top: .25rem;
}
.tongren  .blogger_bottom .blogger_bottom_list li{
  width: 4.6rem;
  height: 3.15rem;
  border: .05rem solid #98d1dd;
  position: relative;
}
.tongren  .blogger_bottom .blogger_bottom_list li::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: .2rem;
  background: url(../img/cos_bg.png) no-repeat left top/4.6rem .15rem;
}
.tongren  .blogger_bottom .blogger_bottom_list li::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .2rem;
  background: url(../img/cos_bg.png) no-repeat left top/4.6rem .15rem;
}
.tongren  .blogger_bottom .blogger_bottom_list li .blogger_bottom_img{
  width: 2.5rem;
  height: 2.35rem;
  position: absolute;
  top: -0.25rem;
  left: 1.15rem;
  border-radius: 50%;
  background: url(../img/i_tx_bor_3443663.png) no-repeat 0 top/2.45rem  2.35rem;
}
.tongren  .blogger_bottom .blogger_bottom_list li .blogger_bottom_img img{
  width: 2.125rem;
  border-radius: 50%;
  margin-top: .110rem ;
  margin-left: .18rem;
}
.tongren  .blogger_bottom .blogger_bottom_list li .text{
  width: 100%;
  height: .6rem;
  font-size: .6rem;
  line-height: .6rem;
  color: #666666;
  text-align: center;
  margin-top: 2.175rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.blogger-button-next{
  position: absolute;
  width: 3.05rem;
  height: .75rem;
  border: .1rem solid #98d1dd;
  right: 4.2rem;
  bottom: 0;
  margin-top: .6rem;
  background: url(../img/i_next2_b0f7c57.png) no-repeat center/2.45rem .25rem;
}
.blogger-button-prev{
  position: absolute;
  width: 3.05rem;
  height: .75rem;
  border: .1rem solid #98d1dd;
  left: 4.2rem;
  bottom: 0;
  margin-top: .6rem;
  background: url(../img/i_prev2_db02372.png) no-repeat center/2.45rem .25rem;
}
.blogger-disabled{
  border: .1rem solid #cce8ee;
}

/* 泛娱乐 */
.Amusement{
  width: 100%;
  height: 18.5rem;
  background: url(../img/hua_bg4_9e8a969.jpeg) no-repeat left 4.55rem/18.75rem 7.35rem;
  float: left;
}

.Amusement .img_title{
width: 100%;
margin-top: 1.1rem;
}
.Amusement .bill{
  width: 15.1rem;
  height: 15.725rem;
  margin: 0 auto;
  position: relative;
}
.Amusement .bill .bill_swiper{
  margin-top: .725rem;
  height: 12.1rem;
  width: 100%;
}
.Amusement .bill .bill_swiper .bill_list{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.Amusement .bill .bill_swiper .bill_list li{
  width: 4.7rem;
  height: 12.05rem;
}
.Amusement .bill .bill_swiper .bill_list li img{
  width: 100%;
}
.bill-button-next{
  position: absolute;
  width: 3.05rem;
  height: .75rem;
  border: .05rem solid #c2a161;
  bottom: 1.15rem;
  margin-top: .6rem;
  left: 8.25rem;
  background: url(../img/i_next3_5219eb7.png) no-repeat center/2.45rem .25rem;
}
.bill-button-prev{
  position: absolute;
  width: 3.05rem;
  height: .75rem;
  border: .05rem solid #c2a161;
  bottom: 1.15rem;
  margin-top: .6rem;
  left: 4.5rem;
  background: url(../img/i_prev3_e5ede34.png)no-repeat center/2.45rem .25rem;
}
/* 商业街 */
.shopping{
  height: 22.75rem ; 
  width: 100%;
  background: url(../img/syj_bg.png) no-repeat left .75rem/16rem 1.15rem;
  float: left;
}
.shopping .shopping_list{
  width: 15.1rem;
  height: 16.95rem;
  margin: 0 auto;
  margin-top: 2.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.shopping .shopping_list li{
  width: 7.3rem;
  height: 5.4rem;
}
.shopping .shopping_list li img{
  width: 100%;
}
.shopping .shopping_list li .text{
  text-align: center;
  font-size: .55rem;
  color:#666666;
  height: 1rem;
  line-height: 1rem;
}
.shopping .more{
  width: 3.45rem;
  height: .65rem;
  line-height: .65rem;
  text-align: center;
  position: relative;
  margin: 0 auto;
  margin-top: .65rem;
}
.shopping .more::before{
  content: "";
  position: absolute;
  left: -6.2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 5.8rem;
  height: .05rem;
  background-color: #cccccc;
}
.shopping .more::after{
  content: "";
  position: absolute;
  right: -6.2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 5.8rem;
  height: .05rem;
  background-color: #cccccc;
}
.shopping .more>a{
  padding-left: .475rem ;
  font-size: .6rem;
  width: 2.4rem;
  color: #666666;
  background: url(../img/syj_more.png) no-repeat left top/.5rem .55rem;
  height: 100%;
}
.audio_visual{
  height: 13.75rem;
  background: url(../img/stsy_bg.png) no-repeat left top/16rem 1.225rem;
  width: 100%;
}
.audio_visual .audio_visual_list{
  width: 15.1rem;
  height: 9.6rem;
  margin: 0 auto;
  margin-top: 2.45rem;
}
.audio_visual .audio_visual_list li{
  width: 7.35rem;
  height: 4.35rem;
  float: left;
  margin: 0 .4rem .65rem 0 ;
  position: relative;
}
.audio_visual .audio_visual_list li:nth-child(2n){
  margin-right: 0;
}
.audio_visual .audio_visual_list li img{
  width: 100%;
}
.audio_visual .audio_visual_list li .text{
  width: 6.3rem;
  height: .8rem;
  position: absolute; 
  left: .4rem;
  bottom: -0.25rem;
  color: #fff;
  font-size: .575rem;
  line-height: .8rem;
  padding-left: .7rem;
  background: url(../img/i_mp3_cf957bf.png) no-repeat .2rem .25rem/.5rem .375rem;
  background-color: #000;
  font-weight: bold;
}
.audio_visual .more{
  margin-top: 1.25rem;
}
/* 二维码模块 */
.ewm{
  margin-top: 2.075rem;
  width: 100%;
  height: 24.85rem;
  border-bottom: .1rem solid #dadfe4;
  float: left;
}
.ewm>img{
  width: 100%;
  margin-bottom: 1.05rem;
}
.ewm .ewm_list{
  width: 15.1rem;
  height: 1.3rem;
  margin: 0 auto;
  display: flex;
}
.ewm .ewm_list li{
  width: 5.1rem;
  height: 100%;
  text-align: center;
}
.ewm .ewm_list li img{
width: 1.25rem;
float: left;
}
.ewm .ewm_list li .text{
  margin-left: .25rem;
  font-size: .575rem;
  float: left;
  height: 1.3rem;
  line-height: 1.3rem;
  color: #4d5369;
}
.ewm .link_code{
  margin-top: 1.05rem;
  margin-left: 3.2rem;
  width: 9.6rem;
  display: flex;
  justify-content: space-between;
}
.ewm .link_code .wyGod{
  width: 3.9rem;
  height: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ewm .link_code .wyGod img{
  width: 1.3rem;
}
.ewm .link_code .wyGod .text{
  font-size: .55rem;
  color: #4d5369;
}
.ewm .phone{
  width: 3.45rem;
  height: 1.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #4d5369;
}
.ewm .phone .text{
  font-size: .575rem;
  height: .575rem;
  line-height: .575rem;
  margin-top: .2rem;
}
.ewm .phone img{
  width: .8rem;
}
.ewm .phone .num{
  font-size: .475rem;
  margin-top: .5rem;
  text-indent: .2rem;
}
.zzc{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,.7);
  display: none;
}

.zzc>img{
  margin-top: 6.4rem;
  margin-left: 4.35rem;
  width: 7.4rem;
}
.zzc .text{
  color: white;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 7rem;
  margin: 0 auto;
  justify-content: center;
}
.zzc_fx {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,.7);
  display: none;
}
.zzc_fx .zzc_fx_list{
  width: 15.1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  bottom: 1.5rem;
  left: .75rem;
}
.zzc_fx .zzc_fx_list li{
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 2.75rem;
  height: 3rem;
  align-content: space-between;
}
.zzc_fx .zzc_fx_list li img{
  width: 2.075rem;
  margin-left: .35rem;
}
.zzc_fx .zzc_fx_list li p{
  width: 100%;
  margin-top: .125rem;
  text-align: center;
}

/* 页尾 */
.footer{
  float: left;
  height: 12.25rem;
  width: 15.1rem;
  position: relative;
  margin-top: .775rem;
  padding-left: .875rem ;
}
.footer p{
  width: 11.5rem;
  font-size: .575rem;
  height: .575rem;
  line-height: .575rem;
  margin-bottom: .25rem;
  color: #696969
}
.footer p>a{
  color: #696969;
  text-decoration: underline;
  font-size: .575rem;
  height: .575rem;
  line-height: .575rem;
}
.footer .goTop{
  width: 1.95rem;
  height: 1.95rem;
  border: .1rem solid #52576f;
  position: absolute;
  bottom: 1.25rem;
  right: .75rem;
  background: url(../img/returnTop.png) no-repeat center/1.125rem .7rem;
}